@using KursovaRabota.ViewModels
@model LoginViewModel
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
">
<div>
    <form id="loginForm" method="post" class="container">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <label for="email">Email:</label>
                <input asp-for="@Model.Email" type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input asp-for="@Model.Password" type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
</div>