@using KursovaRabota.ViewModels.SubjectVMs
@model SubjectViewModel

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="SubjectName"></label>
        <input asp-for="SubjectName" class="form-control" />
        <span asp-validation-for="SubjectName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Добави предмет</button>


</form>
<div>
    @if (Model.Subjects != null)
    {
        @for (int i = 1; i <= Model.Subjects.Count; i++)
        {
            <label>@i: @Model.Subjects[i-1].SubjectName</label>
            <a class="btn btn-primary" asp-action="Update" asp-controller="Subject" asp-route-id="@Model.Subjects[i-1].Id">Промени</a>
            <button onclick="confirmDelete('@Model.Subjects[i-1].Id')" class="btn btn-danger">Изтриване</button>
        }
    }
</div>
<script>
    function confirmDelete(id) {
        var result = confirm("Сигурни ли сте, че искате да изтриете предмета?");

        if (result) {
            window.location.href = '/Subject/Delete?id=' + id;
        }
    }
</script>